// --- VARS
$first-font-stack: 'Lora', sans-serif;
$second-font-stack: 'Roboto', sans-serif;
$dark-col: #898989;
$medium-col: #cccccc;
$light-col: #e1e1e1;
$text-col: #333;
$nav-height: 40px;
$arrow-width: 50px;
$series-width: 240px;
$nav-height-mobile: 30px;

// --- IMPORTS

@import 'progress-bar';


// --- MIXINS

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin transition($seconds) {
  -webkit-transition: #{$seconds}s; /* Safari */
  transition: #{$seconds}s;
}

// --- TOGGLE

.arrow-down {
  @include rotate(180);
}
.left-nav-right {
  @include translate($arrow-width + $series-width,0);
}

// --- FLICKITY

.flickity-page-dots {
  text-align: left !important; 
}

// --- LINKS 

a, a:hover, a:visited {
  color: $dark-col;
  text-decoration: none;
  border-bottom: 1px solid $dark-col;
}
a:hover {
  border-bottom: none;
}

// --- FIGURES

figure {
  margin: 3em 0;
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}
figcaption, .caption {
  margin-top: 0.5em;
  font-family: $second-font-stack;
  font-size: 0.8rem;
}

html {
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: $second-font-stack;
  font-size: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: $text-col;
  height: auto;

  progress {
    z-index: 9999999;
  }

  #nav {
    font-family: $second-font-stack;
    font-size: 1.1rem;
    height: $nav-height;
    color: white;
    background-color: $medium-col;
    width: 100%;
    position: fixed;
    z-index: 9999;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
    * {
      height: 100%;
    }
    div {
      display: table;
    }
    span, a {
      display: table-cell; 
      vertical-align: middle;      
    }
    #arrow {
      width: 50px;
      color: $light-col;
      background-color: $dark-col;
      float: left;
      text-align: center;
      font-size: 1.5rem;
      #thearrow {
        cursor: pointer;
        @include transition(0.3);
      }
    } 
    #series {
      width: $series-width;
      color: $dark-col;
      background-color: $light-col;
      float: left;
      a {
        padding-left: 30px;
        border-bottom: none;
      }
    }
    #title {
      padding-left:30px;
    }
  }
  #left-nav {
    position: fixed;
    margin-top: $nav-height;
    width: $arrow-width + $series-width;
    height: calc(100% - 40px);
    background-color: $medium-col;
    z-index: 1000;
    @include transition(0.3);
    left: - ($arrow-width + $series-width);
    h1 {
      font-size: 0.9rem;
      margin: 50px 20px -10px;
      padding-left: 10px;
      display: none;
    }
    #toc {
      font-size: 0.9rem;
      // list-style: none;
      margin: 50px 20px;
      padding-left: 10px;
      text-transform: capitalize;
      a {
        text-decoration: none;
        color: $text-col;
      }
    }
  }

  .container {
    max-width: 700px;
    margin: 0 auto;
  }

  .home-intro {
    margin: 0;
    padding: 10em 0 6em 0;
  }

  .mast-head {
    height: 100vh;
    font-family: $second-font-stack;
    display: table;
    * {
      font-size: 0.9rem;
    }
    div {
      display: table-cell; 
      vertical-align: middle;
      margin-top: -10vh;
    }
    img {
      max-width: 250px;
      margin-right: 50px;
      float: left;
    }
    h1, h2 {
      font-weight: bold;
    }
    .ctrl-s {
      color: $medium-col;
    }
  }

  .mast-head.home {
    &:last-child {
      margin-bottom: 8em; 
    }
    padding: 3em 0;
    height: auto;
  }

  .clear {
    clear: both;
  }

  hr {
    border: solid 1px $dark-col;
  }

  .content {
    margin: 8em 0 2em 0;
    font-family: $first-font-stack;
    font-size: 1.1rem;
    line-height: 1.6;
    h1,h2,h3,h4,h5,h6 {
      font-family: $second-font-stack;
      text-transform: capitalize;
      line-height: 1.3;
    }
    h2 {
      margin: 2em 0 2em 0;
    }
    blockquote {
      font-style: italic;
      font-size: 1.4rem;
      margin: 2em 0;
    }
    .slides {
      margin: 4em 0;
      .slide {
        max-width: 100%;
        height: auto;
      }     
    }
    .flickity-prev-next-button {
      display: none;
    }
    // footnotes
    counter-reset: footnotes;
    a[describedby="footnote-label"] {
      counter-increment: footnotes;
      border-bottom: none;
      color: inherit; /* 2 */
      cursor: default; /* 2 */
      outline: none; /* 2 */
    }
    a[describedby="footnote-label"]::after {
      content: '[' counter(footnotes) ']';
      vertical-align: super; 
      font-size: 0.5em;
      margin-left: 2px;
      color: $dark-col;
      text-decoration: underline;
      cursor: pointer;
    }
    a[describedby="footnote-label"]:focus::after {
      outline: thin dotted;
      outline-offset: 2px;
    }
    #footnotes {
      font-size: 0.8rem;
    }
  }

  hr.end {
    margin-top: 3em;
  }

  #bio {
    padding: 4em 0 6em 0;
    .container:not(:first-child) {
      margin-top: 4em;
    }
    & * {
      font-size: 0.9rem;
    }
    .portrait {
      width: 33%;
      border-radius: 50%;
      float: left;
      margin-right: 50px;
    }
  }

  #meta {
    padding: 2em 0 0 0;
    background-color: $dark-col;
    color: white;

    .slides {
      margin: 3em 0 0 0;

      .flickity-page-dots {
        display: none;
      }
      .slide {
        max-width: 100%;
        height: auto;
        max-height: 400px;
      }     
    }
  }

  #colophon {
    background-color: $light-col;
    padding: 4em;
    ul, p {
      padding: 2em 0;
      list-style: none;
    }
    .credits {
      span {
        display: block;
        float: right;
      }
    }
    .credits-right {
      float: left;
    }
    hr {
      margin: 4em 0;
    }
  }

  footer {
    background-color: $dark-col;
    padding: 2em;
    .container {
      text-align: center;
    }
    .logos {
      height: 50px;
      margin-top: 15px;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

// --- MOBILE

@media only screen and (max-width : 700px) {

  body {
    #nav {
      height: $nav-height-mobile;
      #arrow {
        width: $nav-height-mobile;
        font-size: 1rem;
      }
      #series {
        width: calc(100% - $nav-height-mobile);
        font-size: 0.9rem;
      }
      #title {
        display: none;
      }
    }
    .left-nav-right {
      @include translate(100%,0);
    }

    #left-nav {
      margin-top: $nav-height-mobile;
      height: calc(100% - 30px);
      width: 100%;
      left: -100%;
      h1 {
        display: block;
      }
    }

    .container {
      padding: 0 3em;

      .mast-head {
        height: auto;
        padding: 4em 0 1em 0;
        div {
          img {
            width: 100%;
            max-width: 100%;
            float: none;
            margin-bottom: 3em;
            display: block;
          }
        }
      }
    }

    #bio {
      padding-top: 1em;

      .portrait {
        margin-right: 20px;
        margin-bottom: 5px;
      }
    }

    #colophon, footer {
      padding: 2em;
      font-size: 0.7rem;
      .container {
        padding: 0;
      }
      .logos {
        margin-top: 0;
        height: 40px;
      }
    }

  }

}